.page-header
  = link_to filters_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_filter_path(@filter), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show filter

%dl.dl-horizontal
  %dt Title:
  %dd= @filter.title
  %dt Published:
  %dd= @filter.published
